<div class="row">
  <div class="col-auto">
    <h2>Add or Delete Exercises</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a New Exercise:</h3>

    <form class="form new-exercise-form">
      <div class="form-group">
        <label for="exercise-name">Exercise Name:</label>
        <input
          class="form-input"
          type="text"
          id="exercise-name"
          name="exercise-name"
        />
      </div>
      <div class="form-group">
        <label for="exercise-desc">Set Count:</label>
        <textarea
          class="form-input"
          id="exercise-set"
          name="exercise-set"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="exercise-desc">Rep Count:</label>
        <textarea
          class="form-input"
          id="exercise-rep"
          name="exercise-rep"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="length-days">Assigned Day</label>
        <select class="form-select form-select-sm" id="assigned-days">
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary add-exercise">Add</button>
      </div>
    </form>
  </div>

  <div class="col-md-6 exercise-list">
    <h3>Current exercises:</h3>

    {{#each exercises as |exercise|}}
      <div class="row mb-2">
        <div class="col-md-8">
          <h4>{{exercise.exercise_name}}</h4>
          <p>Sets: {{exercise.set_count}}</p>
          <p>Reps: {{exercise.rep_count}}</p>

        </div>
        <div class="col-md-4">
          <h6>Day {{exercise.assigned_day}}</h6>
          <button
            class="btn btn-sm btn-danger"
            data-id="{{exercise.id}}"
          >DELETE</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src="/js/exercise.js"></script>